$white: rgb(255, 255, 255);
$gray: rgb(128, 128, 128);
$black: rgb(0, 0, 0);

$minWidth: 360px;
$maxWidth: 720px;
$minHeight: 400px;
$margin: 1rem;

$moves: .5s;
$fades: .25s;

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('assets/fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 600;
  src: url('assets/fonts/Roboto-Medium.ttf');
}

html, body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: $black;
  color: $white;
  color: $white;
  font-family: 'Roboto'; 
  font-size: 16px;
  overscroll-behavior-x: none;
}

p, a {
  color: $white;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

// TODO: maybe not needed
.scene {
  position: absolute;
  inset: 0;
}

.carousel {
  position: absolute;
  overflow: hidden;
  inset: 0;

  &-slides {
    position: absolute;
    font-size: 0;
    inset: 0;
    touch-action: none;

    &-slide {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      // width: calc(100% - (2 * $margin));
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $white;
      font-size: 1rem;
      user-select: none;

      &-header, &-body {
        width: calc(100% - 4rem);
        max-width: $maxWidth;
      }

      &-header {
        margin: 1rem;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        text-align: center;

        &-name {
          margin: .25rem;
          font-size: 1.75rem;
        }

        &-title {
          margin: .1rem;
          color: $gray;
          font-size: .8rem;
          font-weight: 100;
          letter-spacing: .1rem;
          text-transform: uppercase;
        }
      }

      &-body {
        height: 0;
        box-shadow:inset;
        line-height: 1.5rem;
        mask-image: linear-gradient(black, black calc(100% - 2rem), transparent);
        overflow-x: hidden;
        overflow-y: auto;
        transition: height $moves, padding $moves;
        
        img, video {
          width: 100%;
        }

        &-content {

        }
        &-tags {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          &-tag {
            padding: .125rem 1rem;
            border: 1px solid $white;
            border-radius: 2rem;
            margin: .5rem;
            background: transparentize($color: $black, $amount: 0.5);
            cursor: pointer;
            font-size: .75rem;
            text-decoration: none;
            transition: background $fades;
            white-space: nowrap;
            &:hover {
              background: transparentize($white, .5);
            }
          }
        }

      }

      &.open {
        .carousel-slides-slide-body {
          height: calc(100% - 10rem); // TODO: use a var instead of 10rem
          padding-bottom: 2rem;
        }
      }
    }
  }

  &-arrows {
    position: absolute;
    inset: 0;
    pointer-events: none;
    
    &-arrow {
      position: absolute;
      top: 50%;
      width: 2.5rem;
      height: 2.5rem;
      border: 0;
      background-color: transparent;
      background-size: contain;
      opacity: .5;
      pointer-events: all;
      transform: translate(50%, -50%);
      transition: opacity $fades, left $moves, right $moves;
      
      &:hover {
        opacity: 1;
      }
      
      &.left, &.right {
        background-image: url('assets/images/chevron.svg');
      }

      &.left {
        left: 3rem;
        transform: translate(-50%, -50%) scaleX(-100%);
      }
      &.right {
        right: 3rem;
      }
    }
  }

  &-dots {
    position: absolute;
    bottom: 1rem;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    transition: bottom $moves;

    &-dot {
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      margin: 0.1875rem;
      background-color: $white;
      opacity: .25;
      transition: opacity $fades;

      &.active {
        opacity: 1;
      }
    }
  }

  &-hint {
    position: absolute;
    top: calc(50% + 3.5rem);
    left: 50%;
    font-size: .75rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -40%);
    transition: opacity .5s, visibility .5s, transform .5s;
    visibility: hidden;

    &.active {
      opacity: .6;
      transform: translate(-50%, -50%);
      visibility: visible;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 50%;
      content: '▲';
      font-size: .5rem;
      transform: translateX(-50%) scaleY(70%);
    }
  }
}

@media (max-width: $maxWidth) {
  .carousel {
    &:has(.open) {
      .carousel {
        &-arrows-arrow {
          &.left {
            left: -3rem;
          }
          &.right {
            right: -3rem;
          }
        }

        &-dots {
          bottom: -1rem;
        }
      }
    }
  }
}

@media (max-height: $minHeight) {
  html, body {
    font-size: 10px;
  }
}
// TODO: Shouldn't need this but it isn't always resetting on ios safari
@media (min-height: $minHeight) {
  html, body {
    font-size: 16px;
  }
}